.footer{
    background: linear-gradient(45deg, #ca11aA, #491173);
    color: white;
}

a, ul, li{
    color: white;
}

.footer:before {
    content: '';
    /* top: -20px; left: -20px; */
    display: block;
    border-top: 30px solid white;
    border-left: 50px solid white;
    width: 100%;
    background:#fff;
    border-radius: 0 0 100px 100px;
    margin-top: 50px;
    }